<script type="text/x-handlebars" data-template-name="application">
  <div class="row">
    <div class="small-11 large-centered columns">
      {{ outlet }}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="days">
  {{ partial "daysMenu"}}
</script>

<script type="text/x-handlebars" data-template-name="days/index">
  <h2>Select a day</h2>
  <i class="general foundicon-heart"></i>
</script>

<script type="text/x-handlebars" data-template-name="_daysMenu">
  <div class="row left">
    <div class="small-3 columns" id="days">
      {{#each day in controller}}
        {{#linkTo 'day' day class="panel six columns"}}{{ day.name }}{{/linkTo}}
      {{/each}}
      <br><br>
    </div>
    <div class="small-9 columns" id="lessons">
      {{ outlet }}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="day">
  {{#each lesson in lessons}}
    <div>{{ render "lesson" lesson }}</div>
  {{/each}}
  {{#if isAdding}}
    {{partial "day/edit"}}
  {{else}}
    <i class="general foundicon-plus" {{action 'add'}}></i>
  {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="lesson">
  <ul class="no-bullet">
    <li><b>{{ title }}</b></li>
    <li><i>Teacher: {{ teacher }}</i></li>
    <li>At {{ time }}</li>
  </ul>
  {{#if isEditing}}
    {{partial "lesson/edit"}}
    <i class="general foundicon-checkmark" {{action 'doneEditing'}}></i>
    <br>
  {{else}}
    <i class="general foundicon-edit" {{action 'edit'}}></i>
    <i class="general foundicon-remove" {{action 'delete'}}></i>
  {{/if}}
  <hr>
</script>

<script type="text/x-handlebars" id="lesson/_edit">
  <div class="row">
    <div class="small-6 columns">
      {{view Ember.TextField valueBinding="title"}}
      {{view Ember.TextField valueBinding="teacher"}}
      {{view Ember.TextField valueBinding="time"}}
    </div>
  </div>
</script>


<script type="text/x-handlebars" id="day/_edit">
    <div class="row">
      <div class="small-6 columns">
        {{view Ember.TextField valueBinding="title"}}
        {{view Ember.TextField valueBinding="teacher"}}
        {{view Ember.TextField valueBinding="time"}}
        <i class="general foundicon-checkmark" {{action 'addLesson'}}></i>
      </div>
    </div>
</script>
