<script type="text/x-handlebars" data-template-name="application">
  Schedule
  <p>{{ outlet }}</p>
</script>

<script type="text/x-handlebars" data-template-name="index">
  Hello, Ember
</script>

<script type="text/x-handlebars" data-template-name="days">
  {{ partial "daysMenu"}}
</script>

<script type="text/x-handlebars" data-template-name="days/index">
  <h2>Select a day</h2>
</script>

<script type="text/x-handlebars" data-template-name="_daysMenu">
  <h2>Days</h2>
  {{#each day in controller}}
    {{#linkTo 'day' day}}{{ day.name }}{{/linkTo}}
  {{/each}}
  <br><br>
  {{ outlet }}
</script>

<script type="text/x-handlebars" data-template-name="day">
  Selected day: {{ name }}
  {{partial "day/edit"}}
  {{#each lesson in lessons}}
    <li>{{ render "lesson" lesson }}</li>
  {{/each}}
</script>

<script type="text/x-handlebars" data-template-name="lesson">
  {{#if isEditing}}
    {{partial "lesson/edit"}}
    <button {{action 'doneEditing'}}>Done</button>
  {{else}}
    <button {{action 'edit'}}>Edit</button>
    <button {{action 'delete'}}>Delete</button>

  {{/if}}
  {{ title }} | {{ teacher }} | {{ time }}
</script>

<script type="text/x-handlebars" id="lesson/_edit">
  <p>{{view Ember.TextField valueBinding="title"}}</p>
  <p>{{view Ember.TextField valueBinding="teacher"}}</p>
  <p>{{view Ember.TextField valueBinding="time"}}</p>
</script>


<script type="text/x-handlebars" id="day/_edit">
    {{view Ember.TextField valueBinding="title"}}
    {{view Ember.TextField valueBinding="teacher"}}
    {{view Ember.TextField valueBinding="time"}}
    <button {{action 'addLesson'}}>Add new lesson</button>
</script>
