<script type="text/x-handlebars" data-template-name="application">
  <div class="row">
    <div class="small-11 large-centered columns">
      {{ outlet }}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="days">
  {{ partial "daysMenu"}}
</script>

<script type="text/x-handlebars" data-template-name="days/index">
  <h2>Select a day</h2>
</script>

<script type="text/x-handlebars" data-template-name="_daysMenu">
  <div class="row left">
    <div class="small-3 columns" id="days">
      {{#each day in controller}}
        {{#linkTo 'day' day class="panel six columns"}}{{ day.name }}{{/linkTo}}
      {{/each}}
      <br><br>
    </div>
    <div class="small-9 columns" id="lessons">
      {{ outlet }}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="day">
  {{#each lesson in lessons}}
    <div>{{ render "lesson" lesson }}</div>
  {{/each}}
  {{#if isAdding}}
  <div class="row">
    <div class="small-6 columns">
      {{partial "edit"}}
      <i class="general foundicon-checkmark" {{action 'addLesson'}}></i>
      <i class="general foundicon-remove" {{action 'cancel'}}></i>
    </div>
  </div>
  {{else}}
    <i class="general foundicon-plus" {{action 'add'}}></i>
  {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="lesson">
  <ul class="no-bullet">
    <li><b>{{ title }}</b></li>
    <li><i>Teacher: {{ teacher }}</i></li>
    <li>At {{ time }}</li>
  </ul>
  {{#if isEditing}}
  <div class="row">
    <div class="small-6 columns">
      {{partial "edit"}}
    </div>
  </div>
    <i class="general foundicon-checkmark" {{action 'doneEditing'}}></i>
    <i class="general foundicon-remove" {{action 'cancel'}}></i>
    <br>
  {{else}}
    <i class="general foundicon-edit" {{action 'edit'}}></i>
    <i class="general foundicon-remove" {{action 'delete'}}></i>
  {{/if}}
  <hr>
</script>

<script type="text/x-handlebars" id="_edit">
  <div class="small-3 columns">
    <label for="title" class="right inline">Title</label>
  </div>
  <div class="small-9 columns">
    {{view Ember.TextField valueBinding="title" id="title"}}
  </div>
  <div class="small-3 columns">
    <label for="teacher" class="right inline">Teacher</label>
  </div>
  <div class="small-9 columns">
    {{view Ember.TextField valueBinding="teacher" id="teacher"}}
  </div>
  <div class="small-3 columns">
    <label for="time" class="right inline">Time</label>
  </div>
  <div class="small-9 columns">
    {{view Ember.TextField valueBinding="time" id="time"}}
  </div>
</script>