<div class="small-3 columns">
  <label for="title" class="right inline">Title</label>
</div>
<div class="small-9 columns">
  {{view Ember.TextField valueBinding="title" id="title"}}
</div>
<div class="small-3 columns">
  <label for="teacher" class="right inline">Teacher</label>
</div>
<div class="small-9 columns">
  {{view Ember.TextField valueBinding="teacher" id="teacher"}}
</div>
<div class="small-3 columns">
  <label for="time" class="right inline">Time</label>
</div>
<div class="small-9 columns">
  {{view Ember.TextField valueBinding="time" id="time"}}
</div>
<div class="small-3 columns">
  <label for="location" class="right inline">Location</label>
</div>
<div class="small-9 columns">
  {{view Ember.TextField valueBinding="location" id="location"}}
</div>